

body {
  margin: 0px;
}

.footer {
	margin: -30px;
	border: -30px;
	padding: 10px;
}

a {
	text-decoration: none;
}
.footer a:hover {
	transform: 0.8s;
	font-size: 18px;
	text-decoration: underline;
}

h1 {
  margin: 0px;
  font-family:  'Montserrat', sans-serif;
  padding: 10px;
}


.logo {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-left: 30px;
 
}

.tema {
  height: 30%;
 background: #9900CE;
  color: #fff;
  padding-left: 40px;
}

.lypa {
	display: flex;
	justify-content: flex-end;
}

.lypa:hover {
		transform: scale(1.2);
		transition: 1s;
		/* Увеличиваем масштаб */		
    }


.d3 {background: #DCDCDC;}
.d3 form {
  background:#DCDCDC;
}
.d3 input, .d3 button {
  border: none;
  outline: none;
  background: transparent;
}
.d3 input {
  width: auto;
  height: 5%;
  padding-left: 15px;
}
.d3 button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.d3 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}



.mobile-img {
  display: none;
}

@media (min-widht: 330px) and (max-widht: 500px) {
  .mobile-img {
    display: block;
  }
  .main-img {
    display: none;
  }
  
}



.buttons {
	background: #fff;
	display: flex;
	justify-content: space-around;
    align-items: flex-start;
	margin: 10px;
  border-bottom: 3px solid #f2f2f2;
}

.arrow1{
	/*background-image: url('../img/la.png');*/
	background-repeat: no-repeat;
	height:40px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	color: #4682B4;

	text-decoration: none;
	padding:20px;
}

.la {
	padding: 5px;
	margin-top: 15px;
}
.ra {
	padding: 5px;
	margin-top: 15px;
}

.arrow2 {
	/*background-image: url('../img/ra.png');*/
	background-repeat: no-repeat;
	height:40px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	color: #4682B4;

	text-decoration: none;
	padding:20px;
	
}

.shine-button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 40px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  transition: .2s ease-in-out;


  background: #FFA81D;
  border-radius: 55px;

}
.shine-button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.shine-button:hover {
  background: #F55376;
  color: #fff;
}
.shine-button:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}


.temaF,.temaS {
    display: flex;
    flex-direction: row;
}


.readsee {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    border-bottom: 3px solid #f2f2f2;
    justify-content: space-between;
    padding: 20px 5% 20px 5%;
    font-family: calibri;
    margin: 10px;

    color: #3a064c;
}

.e-t .e-v {
  padding: 10px;
  flex-basis: auto;
  padding-left: 3em;
  position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 2em;
    margin-bottom: 10px;
}

span {
  display: flex;
  align-items: center;
  margin: 0px 10px 10px 10px;
  font-family: calibri;
  font-weight: w500;
}

.clock .eye {
  padding: 5px;
}

/*-----------------------------------------------------------------*/

h5 {
  color: white;
  letter-spacing: -3px;
  font-size: 20px;

}
#slideout {
    position: absolute;
    top: 70%;
    right: 0px;
    /* background: linear-gradient(90deg, #2b9300, #31a700); */
    padding: 12px;
    text-align: center;
    background: #ffffff;
    /* border-color: blanchedalmond; */
    border-left: outset;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 10px 0px 0px 10px;
    letter-spacing: 0px;
    z-index: 1000;

    }
    #slideout_inner {
    position: absolute;
    top: 40%;
    /* writing-mode: horizontal-tb; */
    /* text-orientation: upright; */
    right: 10px;
    background: #dcdcdc;
    width: 200px;
    padding: 25px;
    height: 199px;
    /* -webkit-transition-duration: 0.3s; */
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    /* transition-duration: 0.3s; */
    text-align: right;
    /* -webkit-border-radius: 0 0 5px 0; */
    -moz-border-radius: 0 0 5px 0;
    border-radius: 30px 0px 0px 30px;
    /* letter-spacing: 0px; */
    display: none;
}
    }
    /*#slideout_inner textarea {
      width: 190px;
      height: 100px;
      margin-bottom: 6px;
    }*/
    #slideout:hover {
      right: 40%;
      transition: 1s;
      position: relative;
      left: 40px;
    }
    #slideout:hover #slideout_inner {
        display: block;
    }



    @media (min-width: 700px) {
      #slideout {
        display: none;
      }
      #slideout_inner {
        /*display: none;*/
      }
    }

/*--------------------------------------------------------------------*/


#sidebar1 {
  color: turquoise;
}

.gs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.glavnaya {
	display: flex;
    justify-content: space-between;
}

.glavnaya#teorr {
  display: contents;
}

.Sleep {
    display: flex;
    margin-bottom: -17px;
}



.sidebar {
	padding: 10px 50px 0px 50px;
    margin: 20px;
	background: #DCDCDC;
	text-decoration: none;
  height: 380px;
}

 .spicok {
  padding: 10px 10px 0px 50px;
  color: #3a064c;

 }
 
 ul {
	 margin-left: -40px;
	 font-family: calibri;
	 text-decoration: none;
 }
 
.s, .s2, .s3, .s4, .s5 {
    color: #34495e;
    line-height: 1.2;
    position: relative;
    padding: 0 14px;
    text-transform: uppercase;
	
	text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 20px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    font-family: 'PT Sans Caption', sans-serif;
	
}
.s::after {
	content: "";
    height: 100%;
    min-width: 4px;
    background: #34495e;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.5s;
}

/*@media (min-widht: 330px) and (max-widht: 500px) {
	.sidebar {
		display: none;
	}
*/

p {
  font-size: 20px;
  font-family: calibri;
  text-align: -webkit-left;
  margin-top: -10px;
  padding-left: 20px;
  color: #3a064c;
  padding-right: 10px;
}



ol {
  list-style: none;
  font-size: 18px;
  padding: 0;
  margin: 20px 0;
  counter-reset: num;
  font-family: calibri;
}
li {
  margin: 0;
  padding: 0 0 20px 50px;
  position: relative;
  line-height: 20px;
  counter-increment: num;
  font-family: calibri;
  margin-right: 10px;
}

li::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  /*background: #fff;*/
  color: #fff;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  /*border-radius: 50%;*/
  content: counter(num);
  /*border: 1px solid #ef6780;*/
  font-family: calibri;
  background: #009d37;
}

.sposob li::before {
   background: #9900ce;
}


.turbo {

  padding-left: 20px;
}

h2 {
  margin: 0px;
  font-family: 'Montserrat';
  padding: 10px;
  color: #31a700;
  font-size: 62px;
  line-height: 55px;
  margin-top: 30px;
  margin-left: -17px;
}
h2#testa {
  margin-left: 30px;
}
    

dt {
  font-family: 'Montserrat';
  font-size: 22px;
 padding: 3% 2% 1% 2%;
  color: #9900ce;
}

dt:hover {
	transition:0.5s;
	color:#de7dff;
	font-size:26px;
}
/*dd:hover dt {
	transition:0.5s;
	font-size: 30px;
}*/

dd {
  font-family: calibri;
  font-size: 18px;
  padding: 10px;
  border: 2px dashed #fbec9b;
  color: #3a064c;
}
.ASCII {
  display: flex;
}

.ASCII1 {
  display: flex;
}

.ASCII2 {
  display:none;
}


.opr {
    position: relative;
    display: block;
    width: 96%;
    border: 10px;
    background-color: #fff;
    padding: 5px;
}

.opr li {
    margin: 0;
    padding: 0 0 20px 50px;
    position: relative;
    line-height: 20px;
    counter-increment: num;
    font-family: calibri;
}


a#misss {
  padding-top: 60px;
}

h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 92px;
  line-height: 100px;
  letter-spacing: -0.05em;
  margin: 70px 0px 10px 10px;
  color: #F55376;
}

.gs img {
  display: none;
}

.sposob {
  padding: 10px;
}


.cat {
	/*background: #ebebeb;;*/
	height: 430px;

}

.cat dt {
	color: #065694;
  padding: 5px;
}
.cat dt:hover {
	
}

.cat dt {
font-family: 'Neucha', cursive;
}
p#text {
  padding: 10px;
}


.cat-say{
  position: relative;
  display: flex;
}
.inner {
  position: relative;
    top: -5px;
    left: 16px;
    width: 600px;
    height: 120px;
}

.eye2 {
  transition: 0.2s;
  padding: 22px;
  margin-top: -20px;
}

.eye2:hover {
  transform: scale(1.3);

}


.eye2:hover ~ .checkp {
  transition: 3s;
  display: block;
  
}

.check {
  display: flex;
  align-items: center;
}
.checkp {
  transition: 3s;
  display: none;
  color: #F55376;
  
}

.rez {
  padding-bottom: 20px;
}


h3 {
  margin: 20px 0px 30px 0px;
  color: #520166;
  font-family: calibri;
  font-size: 26px;
}

.cod_text {
	padding-right: 20px;
}

.footer {
	background: #710099;
  /*margin: 0px;*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.linkF {
text-decoration: none;
    color: #cf01ff;;
    font-weight: 500;
    font-family: calibri;
	
    /* border: blanchedalmond;*/
}

h6 {
 color: #ccc;
 font-size: 20px;
 font-family: calibri;
 
}

.footer_right {
	align-content: center;
	padding-bottom: 30px;
}

.ban {
    padding: 30px;
    background: #d0e9ff;
    margin-left: -20px;
    margin-top: 30px;
}

.ban:hover {
    background: #e9ffe0;
    transition: 0.9s;
    margin-bottom: 30px;
}


.flexcat {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.border {
    margin-left: 100px;
    margin-right: 100px;
    background: white;
    padding-left: 30px;
    padding-right: 30px;
}

.bg {
  background: linear-gradient(358deg, #7ac3ff, #ffffff00);
    margin-top: -10px;
}

.cattext {
  display: flex;
}

.cat#TH {
    
  }


#toTop {
    width: 17px;
    /* border: 1px solid #ccc; */
    background: #d0e9ff;
    border-radius: 63px;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* cursor: pointer; */
    display: none;
    color: #333;
    font-family: verdana;
    font-size: 14px;
    z-index: 1000;
}


#toTop:hover {
    width: 17px;
    /* border: 1px solid #ccc; */
    transition: 0.5s;
    background: #79c0ff;;
    border-radius: 63px;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* cursor: pointer; */
    display: none;
    color: #333;
    font-family: verdana;
    font-size: 14px;
    z-index: 1000;
}


/*--------------------------------- МЕДИА_ЗАПРОСЫ -------------------------------------*/

@media (max-width: 800px) {
  .sidebar {
    display: none; }

	
	.slideout_inner {
		display:none; }

  h4 {
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .main-img {
    display: none;
  }
  .mobile-img {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* justify-content: center; */
    height: 100%;
    width: auto;
  }
  span {
    display: flex;
    flex-direction: column;
  }
  .temaF, .temaS {
    display: none;
  }
  .shine-button {
    border-radius: 0px;
    margin: 0px 0px;
  }
  .logo p {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
  }
  dd {
    margin-right: 10px;
    font-size: ;
    /*margin-left: -20px;*/
  }
  h2 {
    /*margin-left: -25px;*/
    font-size: 42px;
    line-height: 40px;
	  font-family: 
  }
  dt {
    margin-top: 15px;
  }
  .logo {
    margin-left: 0px;
  }
  .gs img {
    height: 50px;

  }

  .inner {
    position: relative;
    top: 50px;
    left: 50px;
    width: 600px;
    height: 120px;
  }

  .inner1 {
    width: 50%;
    align-content: center;
   }

 h6 {
  padding-left: 40px;
  padding-right: 40px;
 }


.check {
  display: flex;
  flex-direction: column;
  padding-bottom: 130px;

}
#textcat {
  width: 250px;
}
#formulas1 {
    position: relative;
    left: -2px;
    /* top: 14px; */
    width: 285px;
}
 #SleepCat {
    transform: scale(0.6);
    position: relative;
    top: 20px;
    left: -20px;
 }

}

@media (max-width: 900px) {
  .inner2 {
    display: none;
  }
  .inner {
    /*position: relative;
    top: 50px;
    left: 50px;
    width: 600px;
    height: 120px;*/
  }
  .ASCII1 {
      display: none;
    }
  .ASCII2 {
    display:flex;
    flex-direction: column;
  }
  .ASCII {
    display: flex;
    flex-direction: column;
  }
  .inner#2 {
    display: none;
  }




  @media (min-width: 200px) {
      .inner {
    position: unset;
    left: 50px;
    width: 95%;
    height: 20%;
    
  }
  .cat {
  height: 43em;
  }

  .cat#TH {
    height: 20%;
  }

  .border {
    margin-left: 0px;
    margin-right: 0px;
    background: white;
  }
} 